<div class="test-container">
  <h2>Test-Component 3 Works!</h2>

  <span class="line"></span>

  <h3 *ngIf="toggle; else noTitle">HTML Conditions</h3>

  <ng-template #noTitle>
    <span>no title...</span>
  </ng-template>

  <button (click)="onclickHandler()" [ngStyle]="{marginBottom: '15px'}">Hide title</button>

  <span class="line"></span>

  <!-- more settings for date pipe -->
  <!-- https://angular.io/api/common/DatePipe -->

  <h2>Pipe Date</h2>
  <div [ngStyle]="{marginBottom: '15px'}">{{ curDay| date:'dd MMMM yyyy':'':'ru'}}</div>

  <span class="line"></span>

  <h2>Pipe Currency</h2>
  <div>{{ nativeCurrency | currency:'USD'}}</div>
</div>
